<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "signin.css" %}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <img class="mb-4" src="{% static "unibas-logo.png" %}" alt="" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in with your unibas account</h1>

    <input type="text" name="username" autofocus class="form-control" placeholder="Username" required id="id_username">

    <input type="password" name="password" required id="id_password" class="form-control" placeholder="Password">

    <input type="text" name="totp_code" class="form-control" placeholder="TOTP Code">

    <br>
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}


    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in"/>
    <a href="https://dmi-internetoverlords.dmi.unibas.ch/Shibboleth.sso/Login" class="btn btn-lg btn-primary btn-block">Sign
        in with SWITCH</a>
    <a href="https://dmi-internetoverlords.dmi.unibas.ch/django/django/signup" class="btn btn-lg btn-primary btn-block">Sign
        up</a>
    <input type="hidden" name="next" value="../../django/"/>

</form>
</body>
</html>

