{% load qr_code %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>Signup</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
<h2>Scan your QR code to store the secret in your TOTP app.</h2>
{% qr_from_text secret options=my_options %}
</body>
</html>