{% load qr_code %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>Signup</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center" style="background-color: #a5d7d2">
    <a class="navbar-brand d-flex w-50 mr-auto">
        <img src="{% static "unibas-logo.png" %}" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">

        <ul class="nav navbar-nav ml-auto w-100 justify-content-center">
            <li class="nav-item">
                <a class="navbar-text">{{ form.get_name }}</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container" align="center">
    <h2>Scan your QR code to store the secret in your TOTP app.</h2>
    {% qr_from_text secret options=my_options %}
    <br>
    <form class="form-signin" method="post" action="{% url 'qrcode' %}">
        {% csrf_token %}
        <img class="mb-4" src="{% static "unibas-logo.png" %}" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Hello {{ user.first_name }} {{ user.last_name }}</h1>
        <h1 class="h3 mb-3 font-weight-normal">Please enter your TOTP code here.</h1>

        <input type="text" name="totp_code" class="form-control" placeholder="TOTP Code">

        <br>
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}


        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Ok"/>
    </form>
</div>
</body>
</html>